@import "helpers";
@import "_fontello";
$current-prefix: true;
@import "compass/utilities/sprites";
@import "monsters-sprite/*.png";
@include all-monsters-sprite-sprites(true);

/* cyrillic */

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local('Russo One'), local('RussoOne-Regular'), url(../fonts/cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* latin-ext */

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local('Russo One'), local('RussoOne-Regular'), url(../fonts/latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    src: local('Russo One'), local('RussoOne-Regular'), url(../fonts/latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html *,
html *:focus,
html *:active,
html *:hover {
    box-sizing: border-box !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: none !important;
    font-family: 'Russo One', sans-serif !important;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: url('../img/background.png');
    direction: ltr;
    font-family: 'Russo One', sans-serif;
    margin: 0;
    position: relative;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.7);
}

body.pause #game-screen * {
    animation: unset !important;
}


/* button */

button {
    font-size: 45px;
    border: 0;
    background: url('../img/pokeball.png');
    height: 80px;
    width: 80px;
    background-size: cover;
    animation: buttonAnimate 1s ease-in-out infinite alternate;
    position: relative;
    &::after {
        width: 50px;
        height: 20px;
        background: #33363a;
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -25px;
        border-radius: 10px;
    }
    span {
        display: block;
        margin: 0 auto;
        position: relative;
        z-index: 9;
        height: 53px;
        width: 62px;
        &::before {
            margin: 0;
            padding: 0;
            width: auto !important;
            font-family: fontello;
        }
    }
}

#game-screen {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 20px;
}

#monster {
    position: absolute;
}

#scores {
    position: absolute;
    top: 7px;
    left: 7px;
}

#score {
    line-height: 20px;
    text-align: left;
}

#score::before {
    background: url('../img/pokeball.png');
    height: 20px;
    width: 20px;
    background-size: cover;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#score span {
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
}

#best-score {
    font-size: 16px;
}

#best-score.my-best-score {
    color: black;
    -webkit-text-fill-color: #ffe600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#timer {
    position: absolute;
    top: 7px;
    right: 7px;
}

#timer.bold {
    color: black;
    -webkit-text-fill-color: #d60809;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    animation-name: pulse_animation;
    animation-duration: 500ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hide {
    display: none !important;
}

.pokeball {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: url('../img/pokeball.png');
    background-size: cover;
    height: 15px;
    width: 15px;
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
}

#start-animate {
    position: relative;
    width: 100%;
    height: 100%;
}

#start-animate::before {
    content: " ";
    width: 100%;
    height: 0;
    border-top: 5px dotted #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 9;
    opacity: 0.8;
}

#start-animate-monster {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
}

#start-animate-cursor {
    top: 50%;
    left: -10px;
    z-index: 99;
    position: absolute;
    opacity: 0.8;
    animation: startAnimateCursor 1s infinite;
    background: url('../img/start-cursor.png');
    height: 32px;
    width: 32px;
}


/* scores */

.scores-component {
    height: 45%;
    background: #d60809;
}

.scores-component-container {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    animation: rubberBand 0.8s cubic-bezier(.36, .07, .19, .97) both;
}

.scores-component::after,
.scores-component-container {
    display: inline-block;
    vertical-align: middle;
}

.scores-component::after {
    content: " ";
    height: 100%;
}

.scores-component-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.scores-component-title.best {
    position: relative;
}

.scores-component-title.best::after {
    content: "NEW BEST";
    top: -7px;
    left: 0;
    color: black;
    -webkit-text-fill-color: #ffe600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
}

.scores-component-content {
    position: relative;
    background: #fff;
    width: 100%;
    max-height: 100%;
    height: 80px;
    overflow: auto;
    padding: 5px 0;
}

.scores-component-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.scores-component-content li {
    width: 100%;
}

.scores-component-content li div {
    margin: 0 auto;
}


/* modal */

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
    text-align: center;
    visibility: hidden;
    top: -100%;
    left: -100%;
    transition: all .4s;
    opacity: 0;
    &.show-modal {
        visibility: visible;
        top: 0;
        left: 0;
        opacity: 1;
        /* end-game modal */
        &#end-game {
            /* end-game-title */
            #end-game-title {
                height: 20%;
                font-size: 30px;
                animation: titleAnimate .6s;
            }
            #end-game-title span,
            #end-game-title::after {
                display: inline-block;
                vertical-align: middle;
            }
            #end-game-title::after {
                content: " ";
                height: 100%;
            }
            /* end-game-btns */
            #end-game-btns {
                height: 35%;
            }
            #end-game-btns-play,
            #end-game-btns::after {
                display: inline-block;
                vertical-align: middle;
            }
            #end-game-btns::after {
                content: " ";
                height: 100%;
            }
        }
        /* pause-modal modal */
        &#pause-modal {
            /* pause-modal-title */
            #pause-modal-title {
                height: 20%;
                font-size: 30px;
                animation: titleAnimate .6s;
            }
            #pause-modal-title span,
            #pause-modal-title::after {
                display: inline-block;
                vertical-align: middle;
            }
            #pause-modal-title::after {
                content: " ";
                height: 100%;
            }
            /* pause-modal-btns */
            #pause-modal-btns {
                height: 35%;
            }
            #pause-modal-btns-container,
            #pause-modal-btns::after {
                display: inline-block;
                vertical-align: middle;
            }
            #pause-modal-btns::after {
                content: " ";
                height: 100%;
            }
        }
    }
}

.catch-monster {
    background: url('../img/pokeball.png');
    height: 30px;
    width: 30px;
    background-size: cover;
}

#pause {
    position: absolute;
    bottom: 7px;
    left: 7px;
    font-size: 16px;
    background: rgba(0, 0, 0, .8);
    border-radius: 50%;
    padding: 3px;
}

#pause-modal-btns-sounds {
    span::before {
        content: '\e802';
    }
    &.muted span::before {
        content: '\e803';
    }
}


/*keyframes*/

@keyframes buttonAnimate {
    0% {
        height: 70px;
        width: 70px;
    }
    100% {
        height: 90px;
        width: 90px;
    }
}

@keyframes rubberBand {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes titleAnimate {
    0% {
        font-size: 16px;
    }
    100% {
        font-size: 30px;
    }
}

@keyframes startAnimateCursor {
    from {
        left: -10px;
    }
    to {
        left: calc(100% - 10px);
    }
}

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}